/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
button {
  user-select: none;
  cursor: pointer;
}
label,
input {
  display: block;
}
input:focus,
button:focus {
  outline: none;
}
h2 {
  margin: 30px 0;
}
body {
  font-family: Tahoma, sans-serif;
  text-align: center;
  color: #333;
  min-height: 100vh;
}

/* App */
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* Header */
header {
  background-color: #fff;
  box-shadow: 0 2px 8px #ccc;
  text-align: center;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h1 {
  color: #333;
  font-size: 35px;
}
@media (max-width: 767px) {
  header h1 {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  header {
    flex-direction: column;
    row-gap: 25px;
  }
}
nav span.user-name {
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #5a5757;
}
nav button.logout {
  border: none;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  background: #eee;
  color: #5a5757;
}
nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}
nav ul a {
  color: #333;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}
@media (max-width: 767px) {
  nav ul {
    column-gap: 10px;
  }
  nav ul a {
    font-size: 18px;
  }
}

.container {
  margin: 0 100px;
  flex: 1;
}
@media (max-width: 767px) {
  .container {
    margin: 0 70px;
  }
}
@media (max-width: 576px) {
  .container {
    margin: 0 40px;
  }
}

/* Signup && Login */
.signup-form,
.login-form {
  max-width: 500px;
  background-color: #eee;
  border-radius: 6px;
  padding: 20px;
  margin: 20px auto;
}
.signup-form label,
.login-form label {
  font-size: 20px;
  margin-bottom: 5px;
}
.signup-form input,
.login-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 20px;
  margin-bottom: 20px;
}
.signup-form button,
.login-form button {
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  background: #5a5757;
  color: #eee;
}
p.error {
  margin-top: 10px;
  color: indianred;
}

/* Add task form */
.add-task-form {
  padding: 20px 0;
}
.add-task-form label {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}
.add-task-form div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-task-form input {
  width: 400px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 20px;
  margin-right: 10px;
}
.add-task-form button {
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  background: #5a5757;
  color: #eee;
}
@media (max-width: 576px) {
  .add-task-form div {
    flex-direction: column;
  }
  .add-task-form input {
    margin-right: 0px;
    margin-bottom: 10px;
    width: 100%;
  }
}

/* Tasks list */
.tasks-list {
  background-color: #eee;
  border-radius: 6px;
  padding: 20px;
  margin: 20px 0;
}
.tasks-list h3 {
  margin-bottom: 25px;
  user-select: none;
}
.tasks-list .task {
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
.tasks-list .task.completed {
  background-color: #fff;
  color: #333;
  position: relative;
}
.tasks-list .task.completed::before {
  position: absolute;
  content: "completed!";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #009254;
}
.tasks-list .task.completed .task-title {
  text-decoration: line-through green;
  margin-bottom: 40px;
  opacity: 0.4;
}
.tasks-list .task .task-title {
  font-size: 25px;
  padding: 10px;
  margin-bottom: 20px;
  user-select: none;
}
.tasks-list .task button {
  border: none;
  cursor: pointer;
  margin-right: 10px;
  background-color: transparent;
}
.tasks-list .task button img {
  width: 30px;
}
.tasks-list p {
  font-size: 20px;
}

/* Edit task form */
.edit-task-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 3px solid #5a5757;
  border-radius: 6px;
  width: 600px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
@media (max-width: 767px) {
  .edit-task-form {
    width: 500px;
    height: 250px;
  }
}
@media (max-width: 576px) {
  .edit-task-form {
    width: 320px;
    height: 200px;
  }
}
.edit-task-form.hidden {
  display: none;
}
.edit-task-form label {
  font-size: 25px;
  margin-bottom: 20px;
}
.edit-task-form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 20px;
  margin-bottom: 20px;
}
.edit-task-form button {
  border: none;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
}
.edit-task-form button.ok {
  background: #5a5757;
  color: #eee;
  margin-right: 5px;
}
.edit-task-form button.cancel {
  background: #eee;
  color: #5a5757;
}

/* Footer */
footer {
  padding: 15px 0;
  background-color: #333;
  color: #eee;
}
footer a {
  font-size: 18px;
  color: #eee;
  font-weight: bold;
  transition: 0.3s;
}
footer a:hover {
  opacity: 0.7;
}
